@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
@media screen and (orientation: portrait) {
    html {
        font-size: 15px;
    }
	h2 {
		font-size: 1.55rem;
		margin-left: -10px;
		padding-left: 10px;
		border-left: solid #121212 3px;
	}
}

@media screen and (orientation: landscape) {
    html {
        font-size: 20px;
    }
	h2 {
		font-size: 1.55rem;
		margin-left: -30px;
		padding-left: 30px;
		border-left: solid #121212 5px;
	}
}
#content{
    margin-top: calc(5vh + 10px);
    margin-bottom: 25px;
}

html {
    background-color: #FAFAFA;
}

body {
    font-family: Alegreya, serif;
    margin: 0px;
}

nav {
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 15px;
    border-bottom: solid black 1px;
}

body {
    color: #121212;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}

h1 {
    font-size: 2rem;
    border-bottom: solid 1px;
    margin-bottom: 0;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.15rem;
}

p {
    font-size: 1rem;
    line-height: 135%;
    margin-top: 8px;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover, a:focus, a:active{
	color: #FF4515;
}
#prev,
#next {
    margin-bottom: 15px;
    color: #333333;
    font-size: 0.9rem;
    position: absolute;
    width: 45%;
}

.tab {
    margin-left: 5%;
}

.center {
    text-align: center;
}

table {
    overflow-x: auto;
    display: block;
    border: none;
    vertical-align: middle;
    border-collapse: collapse;
}

td.highlighted {
    background-color: rgba(0, 0, 0, 0.075);
}

img.small_imgs {
    height: 7vh;
}

img.medium_imgs {
    height: 12.5vh;
}

img.big_imgs {
    width: 100%;
}
.example tr:nth-child(2){
	font-size: 1.2rem;
}
.example tr:nth-child(3){
	font-size: 0.8rem;
}
.suffix{
    width: 100%;
}
.suffix tr:first-child td:first-child{
	vertical-align: middle;
}
.suffix tr:first-child td:nth-child(2){
	background-color: rgba(0, 0, 0, 0.075);
	text-align: center;
    width: 10%;
}
.suffix td:first-child{
    vertical-align: top;
	white-space: nowrap;
    width: 15%;
}

select {
    width: 100%;
    border: none;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    font: inherit;
}


#scrollbar {
    position: fixed;
    top: 5vh;
    left: 0;
    overflow: hidden;
    width: 0%;
    height: 2px;
    z-index: 50;
}

#scrollbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 75;
    background: #FF4515;
}
.header{
    background-color: white;
    border-bottom: dashed black 2px;
    height: 5vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 40; 
}
.prev{
    left: 5%;
    position: absolute;
    top: calc(2.5vh - 0.7em);
}
.exit{
    position: relative;
    top: calc(2.5vh - 0.7em);
}
.next{
    right: 5%;
    position: absolute;
    top: calc(2.5vh - 0.7em);
}

#blockscreen, #modalwindow {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
      }
      #blockscreen {
        background: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 51;
      }
      #modalwindow {
        z-index: 52;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #a1a1a1;
        box-shadow: 0 0 10px #444;
      }
      #modalwindow img{
        height: 60vh;
        width: auto;
      }
      .modal{
        display: inline-block;
      }