@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext");

body { 
    font-family: "PT Sans", sans-serif;
    background-color: #121212;
    color: whitesmoke;
    margin: 0;
  }  
header, article, nav {
  padding: 1.2em;
  }
@media all and (orientation: portrait) {
    html{
        font-size: 13px;
    }
    .circle{
        font-size: 1.5rem;
    }
}
 @media all and (orientation: landscape) {
    html{
        font-size: 20px;
    }
    .circle{
        font-size: 4rem;
    }
}   	
a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}
a:hover, a:focus, a:active{
	color: #FF4515;
}
nav{
	background-color: whitesmoke;
}
nav a{
	color: #151212;
	padding: 5px 0;
	text-transform: uppercase;
	display: block;
}
div{
	border-top: solid white 1px;
	border-bottom: solid white 1px;
	margin: 15px 0;
}
header{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.25rem;
}
p{
	line-height: 130%;
	margin-top: 0;
}
.circle{
	text-align: center;
	vertical-align: middle;
	width: 20vw;
	height: 20vw;
	line-height: 20vw;
	margin: 0;
	border: double white 9px;
	border-radius: 10em;
}
table{
	border-collapse: collapse;
}
#circle td{
	width: 20vw;
}
.button{
	position: relative;
    font-size: 1.3rem;
	left: calc(25vw - 1.2em - 10px);
	display: block;
	width: 50vw;
	margin: 5vw 0;
	text-align: center;
	padding: 20px;
	border: 2px solid white;
}
