@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
@media screen and (orientation: portrait){
  html{
	font-size: 15px;
  }
}
@media screen and (orientation: landscape){
  html{
	font-size: 20px;
  }
}
html{
  word-wrap: break-word;
  background-color: #FAFAFA;
}
body {
  font-family: "PT Sans", sans-serif;
  margin: 0px;
}
#content{
  color: #121212;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}
h1 {
  font-size: 2rem;
  border-bottom: solid 1px;
}
h2{
  font-size: 1.55rem;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.15rem;
}
p{
  font-size:1rem;
  line-height:135%;
  margin-top: 8px;
}
#down, #up{
  text-align: center;
  border: none;
  background: none; 
  height: 100%;
  width: 50%;
  bottom: 0px;
}
#down{
  border-right: solid rgba(0,0,0,0.3) 1.5px;
}
#up{
  border-left: solid rgba(0,0,0,0.3) 1.5px;
}
#butts{
  position: fixed;
  background-color: #fafafa;
  text-align: center;
  height: 7.5vh;
  left: 0px;
  width: 100%;
  bottom: 0px;
}
a{
  color: #333;
  text-decoration: none;
}
#sections{
  font-size: 0.85rem;
  border: 0px;
  line-height: 150%;
  background-color: #eee;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 7.5%;
}
#prev, #next{
  color: #333333;
  font-size: 0.8rem;
  position:absolute;
  width:45%;
  margin-bottom: 8vh;
}
#next {
  text-align: right;
  right: 5%;
}
#prev {
  text-align: left;
  left: 5%;
}
.tab {
  margin-left:10%;
}
.center{
  text-align: center;
}
table{
  overflow-x: auto;
  display: block;
  border: none;
  vertical-align: middle;
  border-collapse: collapse;
}
td.highlighted{
	background-color:rgba(0,0,0,0.075);
}
img.small_imgs{
  height: 7vh;
}
img.medium_imgs{
  height: 12.5vh;
}
img.big_imgs{
  width: 100%;
}
select{
  width: 100%;
  border: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  font: inherit;
}
.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in; 
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
    
}
.modal:target {
    opacity: 1;
	pointer-events: auto;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
	position: relative;
	top: 15vh;
	left: 5vw;
    height: 70vh;
    width: 90vw;
    background-color: #eee;
    border-radius: 1rem;
    outline: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.modal-content img{
	height: 70vh;
}

#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0%;
    height: 0.5vh;
    z-index: 50;
}

#scrollbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:75;
    background: #f64150; /* Old Browsers */
background: -webkit-linear-gradient(right,#f64150,#ff004f); /*Safari 5.1-6*/
background: -o-linear-gradient(right,#f64150,#ff004f); /*Opera 11.1-12*/
background: -moz-linear-gradient(right,#f64150,#ff004f); /*Fx 3.6-15*/
background: linear-gradient(to left, #f64150, #ff004f); /*Standard*/
}

.gap{
	position: fixed;
	top: 0;
	width: 0.55vw;
	height: 0.5vh;
    background: #f64150; /* Old Browsers */
background: -webkit-linear-gradient(right,#f64150,#ff004f); /*Safari 5.1-6*/
background: -o-linear-gradient(right,#f64150,#ff004f); /*Opera 11.1-12*/
background: -moz-linear-gradient(right,#f64150,#ff004f); /*Fx 3.6-15*/
background: linear-gradient(to left, #f64150, #ff004f); /*Standard*/
    z-index: 160;
}