@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
@media screen and (orientation: landscape){
    html{
        font-size: 18px;
        background-color: whitesmoke;
    }
    h1,
    .head a{
        font-size: 1rem;
    }
    .flex-circle{
        background-position: calc(2.5vh + 1.55em) 3vh;
        background-repeat: no-repeat;
        background-size: 25vh;
        height: 30vh;
        padding-left: 1.55em;
        width: 30vh;
    }
    .ref{
        font-size: 1rem;
        top: calc(30vh + 10px);
        width: 30vh;
    }
    #circle:nth-child(2){
        font-size: 1.4rem;
    }
}

@media screen and (orientation: portrait){
    html{
        background-color: whitesmoke;
        font-size: 13px;
    }
    h1{
        font-size: 1.2rem;
    }
    
    .head a{
        font-size: 1rem;
        max-width: 15vw;
   }
    
    .flex,
    .flex-first{
		margin: 0;
		padding: 0;
	}
    .flex-circle{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35vh;
        height: 40vh;
        width: 40vh;
    }
    .ref{
        font-size: 1.25rem;
        margin-top: -20px;
        top: calc(40vh + 10px);
        width: 40vh;
    }
    #circle:nth-child(2){
        font-size: 1rem;
    }
}

.ref{
    border: dashed black 2px;
    display: block;
    left: -5px;
    padding: 5px;
    position: relative;
    text-align: center;
}
h1,
.head a{
    overflow: hidden;    
    position: relative;
    top: calc(2.5vh - 1.35em);
    text-overflow: ellipsis;        
    white-space: nowrap;
}
body{
    font-family: Alegreya, serif;
    margin: 0;
    width: 100%;
}
a {
	color: black;
    text-decoration: none;
    border-bottom: dashed #FF4515 1px;
}
a:hover, a:focus, a:active{
	color: #FF4515;
}

.flex,
.flex-first{
    align-items: center;
    border-bottom: dashed black 2px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    min-height: calc(95vh - 2px);
    width: 100vw;
}
.flex-first{
    margin: 5vh 0 0 0;
}

.flex-circle{
    border-radius: 100%;
    margin-bottom: 50px;
}
.flex-text{
    flex: 50vw;
    margin-left: 0;
    margin-top: -30px;
    padding: 15px;
}
.head{
    background-color: whitesmoke;
    border-bottom: dashed black 2px;
    height: 5vh;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 10;
}
 
.text {
    color: black;
    font-size: 1.2rem;
    margin: 0 0 0 0;
}

.header {
    color: #ff4515;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.flex-text:nth-child(1){
    margin-top: 0;
}
#circle td{
    text-align: center;
    width: 20%;
}
.circle{
    font-size: 3rem;
}

.head a{
    left: 1.55em;
    position: absolute;
    top: calc(2.5vh - 0.75em);
}