@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
@media all and (max-width:800px){
	a.refs{
	padding-top: 10%;
			padding-bottom: 10%;
 }
		a.uch{
			padding-top:3%;
			padding-bottom:3%;
			font-size: 20px;
		}
}
@media all and (min-width:800px){
	a.refs{
		padding-top: 3%;
			padding-bottom: 3%;
		}
		a.uch{
			padding-top: 1.5%;
			padding-bottom: 1.5%;
			font-size: 32px;
		}
}
		body{
			margin: 0px;
			font-family: "PT Sans Narrow", sans-serif;
			background-color: #050505;
			color: white;
			margin-left: calc(10% - 5px);
			margin-right: calc(10% - 5px);
		}
		p{
			font-weight: normal;
			font-size: 20px;
			margin: 0px;
		}
		h1{
			font-size: 32px;
			margin-bottom: 5px;
		}
		a{
			font-weight: bold;
			color: white;
			text-decoration: none;
		}
		a.refs{
			display: block;
			margin-top: 15px;
			text-align: center;
			font-size: 35px;
			border: solid white 5px;
		}
		a.uch{
			display: block;
			margin-top: 15px;
			text-align: center;
			border: solid white 3px;
		}
		a:hover, a:focus, a:active{
			color: orange;
		}
}
